<?xml version="1.0" encoding="utf-8"?>
<Record Tag="SCPT">
  <Flags>0</Flags>
  <FormID ID="0C01C682">TTWFNWorldspaceMapper</FormID>
  <FormVersion>15</FormVersion>
  <CompressionCorrupted>false</CompressionCorrupted>
  <Subrecords>
    <EditorID Tag="EDID">TTWFNWorldspaceMapper</EditorID>
    <Data>
      <Data Tag="SCHR">
        <ReferenceCount>1</ReferenceCount>
        <CompiledSize>492</CompiledSize>
        <VariableCount>1</VariableCount>
        <Type>Object</Type>
        <Flags>Enabled</Flags>
      </Data>
      <CompiledScript Tag="SCDA">HQAAABAADAANANgBAAABAQEAAQAWAA0AAQAJACBzAQAgMSA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgEAAAAYAA0AAQAJACBzAQAgMiA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgIAAAAYAA0AAQAJACBzAQAgMyA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgQAAAAYAA0AAQAJACBzAQAgNCA9PRUAFQBHAQAQACBY0BQKAAIARwEAbggAAAAYAA0AAQAJACBzAQAgNSA9PRUAFQBHAQAQACBY0BQKAAIARwEAbhAAAAAYAA0AAQAJACBzAQAgNiA9PRUAFQBHAQAQACBY0BQKAAIARwEAbiAAAAAYAA0AAQAJACBzAQAgNyA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgACAAAYAA0AAQAJACBzAQAgOCA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgAEAAAYAA0AAQAJACBzAQAgOSA9PRUAFQBHAQAQACBY0BQKAAIARwEAbgAIAAAYAA4AAQAKACBzAQAgMTAgPT0VABUARwEAEAAgWNAUCgACAEcBAG4AEAAAGAAOAAEACgAgcwEAIDExID09FQAVAEcBABAAIFjQFAoAAgBHAQBuACAAABkAAAARAAAA</CompiledScript>
      <ScriptSource Tag="SCTX" External="TTWFNWorldspaceMapper.fnvscript" />
      <LocalVariables>
        <Variable>
          <Data Tag="SLSD">
            <Index>1</Index>
            <Flags>IsLongOrShort</Flags>
          </Data>
          <Name Tag="SCVR">iMapperIndex</Name>
        </Variable>
      </LocalVariables>
      <References>
        <Reference Tag="SCRO">
          <Reference ID="0C010FAA">TTWWorldLocation</Reference>
        </Reference>
      </References>
    </Data>
  </Subrecords>
</Record>